* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, input, textarea, select, button, table {
    font-family: "Noto Sans", serif;
    color: #000; 
    font-size: 13px;
    font-weight: 200;
    line-height: 1.5;
}

/* 폰트 스타일 초기화 (기울임) */
em, address {
    font-style: normal;
}

/* 반응형 */
video, img {
    width: 100%;
}

/* 여기부터 시작 */

header {
	width: 100vw;
	height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
}

header.shrink {
	height: 75px;
	transition: height 0.5s ease-in-out;
}

header .logo {
    width: 30vw;
	margin-top: 15px;
	transition: width 0.5s ease-in-out;
}

header .logo:hover {
	cursor: pointer;
}

header.shrink .logo {
	width: 15vw;
}

header .logo img {
	height: 100%;
	object-fit: cover;
}

main {
	margin-top: 150px;
}

section.gallery {
	padding: 0 30px;
}

.gallery .gallery-inner {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.gallery .gallery-inner .work {
	display: flex;
    flex-direction: column;
    width: calc(33.3% - 10px);
	/* transition: width 0.5s ease-in-out; */
}

.gallery .gallery-inner .work:hover {
	cursor: pointer;
}

section.content{
	display: none;
}

section.content .content-inner {
	padding: 30px;
}

.content .content-title {
	margin-top: 50px;
	height: 120px;
}

.content .content-title .project-description {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 5px);
}

.content .content-title .project-description .project.left {
	font-family: "Noto Sans KR, serif";
	font-weight: 600;
	font-style: normal;
	font-size: 30pt;
	padding-left: 10px;
	line-height: 30pt;
}

.content .content-title .project-description .project.right {
	font-family: "Noto Sans KR, serif";
	font-weight: 200;
	font-style: normal;
	font-size: 15pt;
	padding-right: 10px;
	word-wrap: break-word;
}

@media (max-width: 1024px) {
	header {
		height: 100px;
	}

	header.shrink {
		height: 60px;
	}

	header .logo {
		width: 40vw;
		margin-top: 10px;
	}

	main {
		margin-top: 100px;
	}

	section.gallery {
		padding: 0 20px;
	}

	section.content .content-inner {
		padding: 20px;
	}
	

	.gallery .gallery-inner {
		gap: 10px;
	}

	.gallery .gallery-inner .work {
		width: calc(50% - 5px);
	}
}

@media (max-width: 600px) {
	header {
		height: 80px;
	}

	header.shrink {
		height: 50px;
	}

	header .logo {
		width: 50vw;
	}

	header.shrink .logo {
		width: 30vw;
	}

	main {
		margin-top: 60px;
	}

	section.gallery {
		padding: 0 10px;
	}

	section.content .content-inner {
		padding: 10px;
	}

	.gallery .gallery-inner .work {
		width: 100%;
	}

	.content .content-title {
		height: 150px;
	}

	.content .content-title .project-description {
		display: block;
		width: 100%;
	}

	.content .content-title .project-description .project.left {
		padding: 0;
		margin-top: 10px;
		font-size: 24pt;
	}

	.content .content-title .project-description .project.right {
		padding: 0;
		margin-top: 20px;
		font-size: 14pt;
	}
}