* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, input, textarea, select, button, table {
    font-family: "Noto Sans", serif;
    color: #000; 
    font-size: 13px;
    font-weight: 200;
    line-height: 1.5;
}

/* 폰트 스타일 초기화 (기울임) */
em, address {
    font-style: normal;
}

/* 반응형 */
video, img {
    width: 100%;
}

/* 여기부터 시작 */

header {
	width: 100vw;
	height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
}

header .logo {
    width: 30vw;
	margin-top: 15px;
}

header .logo img {
	height: 100%;
	object-fit: cover;
}

main {
	margin-top: 150px;
}

section.gallery {
	padding: 0 30px;
}

.gallery .gallery-inner {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.gallery .gallery-inner .work {
	display: flex;
    flex-direction: column;
    width: calc(33.3% - 10px);
	/* transition: width 0.5s ease-in-out; */
}

section.content {
	display: none;
}

section.content .content-inner {
	padding: 30px;
}

@media (max-width: 1024px) {
	header {
		height: 100px;
	}

	header .logo {
		width: 40vw;
		margin-top: 10px;
	}

	main {
		margin-top: 100px;
	}

	section.gallery {
		padding: 0 20px;
	}

	.gallery .gallery-inner {
		gap: 10px;
	}

	.gallery .gallery-inner .work {
		width: calc(50% - 5px);
	}
}

@media (max-width: 600px) {
	header {
		height: 50px;
	}

	header .logo {
		width: 50vw;
	}

	main {
		margin-top: 50px;
	}

	section.gallery {
		padding: 0 10px;
	}

	.gallery .gallery-inner {
		gap: 0;
	}

	.gallery .gallery-inner .work {
		width: 100%;
	}
}