* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, input, textarea, select, button, table {
    font-family: "Noto Sans", serif;
    color: #000; 
    font-size: 13px;
    font-weight: 200;
    line-height: 1.5;
}

/* 폰트 스타일 초기화 (기울임) */
em, address {
    font-style: normal;
}

/* 반응형 */
video, img {
    width: 100%;
}

/* 여기부터 시작 */

header {
	height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #e6e6e6;
}

header .logo {
    width: 40vw;
}

header .logo img {
	height: 100%;
	object-fit: cover;
}

section.gallery {
	padding: 30px;
}

.gallery .gallery-inner {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.gallery .gallery-inner .work {
	display: flex;
    flex-direction: column;
    width: calc(33.3% - 10px);
}

@media (max-width: 1024px) {
	header {
		height: 25vh;
	}

	header .logo {
		width: 60vw;
	}
}

@media (max-width: 600px) {
	header {
		height: 20vh;
	}

	header .logo {
		width: 80vw;
	}
}